*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
html,body{
    background-color: white;
   height: 100vh;
   width: 100vw;
}
.container{
    height: 100%;
   width: 100%
}
.header-section{
    width: 100%;
}
header{
    display: flex;
    height: 20vh;
    justify-content: start;
    align-items: center;
}
.logo {
width: 15%;
margin-left: 8%;
padding:30px 40px;
}
nav{
    width:30%;

}
nav ul{
    display: flex;
    justify-content:space-around;
    align-items: flex-start;

}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 900;
}
.contact-button{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right:10% ;
}
.contact-button button{
    border: none;
    font-size: 1rem;
    background: rgba(72, 72, 236, 0.906);
    padding: 15px 40px;
    color: white;
    border-radius: 10px;

}
.hero-section{
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-section{
width: 50%;
display: flex;
flex-direction: column;
margin-left:10% ;
justify-content: center;
/* align-items: center; */
}
.left-section h1{
    font-size: 4rem;
    line-height: 4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}
.left-section h1 span{
    color:rgba(72, 72, 236, 0.906);
   
}
.left-section p{
    padding-top: 25px;
}
.left-section button{
    margin-top: 40px;
    border: none;
    font-size: 1rem;
    background: rgba(72, 72, 236, 0.906);
    padding: 15px 40px;
    color: white;
    border-radius: 10px;
}

.right-section{
    width:  50%;
    padding-right: 10%;

}
.right-section img{
    width: 700px;
}